.btn {
    font-size: 30px;
}

.btn-pro {
    background-color: white;
}

.btn-part {
    background-color: #1fa298;
}

.btn-contact {
    background-color: #a31a26;
}

.btn-actu {
    background-color: #9d9d9c;
}

.logo-had {
    width: auto;
}

.imgtop {
    width: 100%;
    height: auto;
}